@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button {
    @apply px-2 lg:px-4 py-1 font-medium text-white bg-primary rounded;
  }
  .optionButton {
    @apply text-lg font-medium text-black/80 myShadow rounded py-1.5 hover:bg-primary hover:text-white;
  }
  .myShadow {
    @apply shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fbfbfb;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0077b5;
  border-radius: 5px;
}
